/* @override http://hursk.com/nvdcache/nvdCache-style.css */

/* nvdCache-style.css */
nvdCache {
	border: 5px double #333;
	background: #e6e6e6;
	display: inline;
	float: none;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
	font: normal normal 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000;
	padding: 20px;
}

nvdCache:before {
	content: 'nvdCache result response hosted by: 'attr(cacheHost)' - Version: 'attr(version);
	color: #0f0085;
	font-size: 2em;
	font-weight: bold;
}

desc {
	padding: 10px;
	position: static;
	display: table;
	border: 2px solid #666;
}

desc:before { 
	content: 'Description: ';
	font-size: 2em;
	color: #8d0000;
}

refs { text-align: right; margin-bottom: 2em }